{{ partial "doctype.html" . }}
<head>
  <title> {{ .Title }} // {{ .Site.Title }} </title>
  {{ partial "meta.html" . }}

  {{ partial "og.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" href="/css/base-min.css">
  <link rel="stylesheet" href="/css/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/redlounge.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,700,300,500,600,800' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  <!-- RSS -->
  <!--<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> -->

      {{ if .RSSlink }}
        <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
      {{ end }}

  <!-- Syntax highlighting -->
  <link rel="stylesheet" href="/css/highlight/default.min.css">
  <script src="/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {{ if .Params.lightbox }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
  <script src="{{ .Site.BaseUrl }}/js/lightbox.min.js"></script>
  {{ end }}

  {{ if .Site.Params.categoriescss }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.Params.categoriescss }}">
  {{ end }}

  {{ partial "headend.html" . }}
</head>
